// Font utilizzati:
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;0,700;1,400&display=swap');

$mainFont : 'Ubuntu';

// Palette Colori:
$primaryColor: #048383;
$secondaryColor: #121117;
$thirdColor: #eef3ec;

.colored-btn{
    color: white;
    background-color: $primaryColor;
    border: none;
}

.white-btn{
    color: $primaryColor;
    border: 1px solid $primaryColor;
}

.my-button{
    padding: 10px;
    border-radius: 5px;
    
}

.upper-title{
    color: $primaryColor;
    font-size: 0.9em;
}

.bg-text{
    background-color: rgb(4, 131, 131, 0.2);
    color: $primaryColor;
    border-radius: 5px;
    padding: 10px;
}

.bg-text-white{
    background-color: rgb(4, 131, 131, 0.2);
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.subtitle-main{
    font-weight: 300;
    font-size: 0.9em;
    color: grey;
}

.btn-hover-colored{
    &:hover{
    color: $primaryColor;
    background-color: white;
    border: 1px solid $primaryColor;
    }
}

.btn-hover-white{
    &:hover{
    color: white;
    background-color: $primaryColor;
    }
}

